button {
  width: 100px;
  height: 50px;
}

button:disabled {
  color: gray;
}

.column {
  float: left;
}

#messages {
  padding-left: 100px;
}

#game-over {
  visibility: hidden;
  position: fixed;
  padding: 0;
  margin: 0;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
}

#game-over p {
  color: blue;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 192px;
  font-weight: 900;
}
