<!DOCTYPE html>
<html>
  <head>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <script
      type="text/javascript"
      src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"
    ></script>
    <script src="static/js/board.js"></script>

    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container" id="content">
      <div id="move-count">Move count</div>
      <div id="running">Running</div>
      <div class="row">
        <div id="board"></div>
      </div>
      <button onClick="do_previous()" id="previous">
        Previous
      </button>
      <button onClick="do_continue()" id="continue" disabled="disabled">
        Continue
      </button>
      <button onClick="do_next()" id="next">
        Next
      </button>
      <button onClick="restart_game()" id="restart">Restart</button>
      <input id="move-input" disabled="disabled" />
    </div>
  </body>
</html>
